<?xml version="1.0" ?>
<!--
/**
 * Copyright © Ronangr1. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ronangr1\WhoDidZis\Api\LogRepositoryInterface" type="Ronangr1\WhoDidZis\Model\LogRepository"/>
    <preference for="Ronangr1\WhoDidZis\Api\Data\LogInterface" type="Ronangr1\WhoDidZis\Model\Log"/>
    <preference for="Ronangr1\WhoDidZis\Api\Data\LogSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Ronangr1\WhoDidZis\Resolver\ActorResolverInterface" type="Ronangr1\WhoDidZis\Resolver\ActorResolver"/>
    <virtualType name="Ronangr1\WhoDidZis\Model\ResourceModel\Log\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">whodidzis_log</argument>
            <argument name="resourceModel" xsi:type="string">
                Ronangr1\WhoDidZis\Model\ResourceModel\Log\Collection
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ronangr1_whodidzis_Log_listing_data_source" xsi:type="string">
                    Ronangr1\WhoDidZis\Model\ResourceModel\Log\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Ronangr1\WhoDidZis\Resolver\ActorResolver">
        <arguments>
            <argument name="backendSession" xsi:type="object">Magento\Backend\Model\Auth\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Model\ResourceModel\Db\AbstractDb">
        <plugin name="ronangr1_whodidzis_log_on_save" type="Ronangr1\WhoDidZis\Plugin\ResourceModel\LogOnSavePlugin" sortOrder="10"/>
    </type>
</config>
