<?xml version="1.0"?>
<!--
/**
 * Copyright © Ronangr1. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Ronangr1\WhoDidZis\Service\Cache">
        <arguments>
            <argument name="cacheTypes" xsi:type="array">
                <item name="config" xsi:type="string">config</item>
            </argument>
        </arguments>
    </type>
</config>
