<?xml version="1.0" ?>
<!--
/**
 * Copyright © Ronangr1. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="whodidzis" id="whodidzis">
			<module before="Magento_Backend" name="Ronangr1_WhoDidZis"/>
		</route>
	</router>
</config>
